*{margin: 0;padding: 0;}

body,html{
    font-family: 'Bree Serif', serif;
}

.khung4 {
    position: absolute;
    bottom: -1em;
    left: 0em;
    content: '';
    width: 2px;
    height: 250px;
    background: #FFF;
    opacity: 0.5;
}

.khung3 {
    position: absolute;
    bottom: -1em;
    left: 0em;
    content: '';
    width: 250px;
    height: 2px;
    background: #FFF;
    opacity: .5;
}

.khung2 {
    background: #FFF;
    position: absolute;
    top: 35px;
    right: 9px;
    bottom: 0;
    content: "";
    width: 2px;
    height: 250px;
    opacity: 0.5;
}

.khung1 {
    background: #FFF;
    position: absolute;
    top: 35px;
    right: 9px;
    bottom: 0;
    content: "";
    width: 250px;
    height: 2px;
    opacity: 0.5;
}

.khung1:after {
}

.four h4 {
    text-align: center;
}

button.btn.btn-default.cv:hover {
    background-color: #8CB6C0;
}

.cv.btn-default {
  color: #333;
  background-color: white;
  border-color: #ccc;
  font-weight: bold;
  margin-top: 25px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 16px;
    color: #9397aa;
    line-height: 25px;
}

.noidung6 h1 {
    text-align: center;
    margin: auto;
    letter-spacing: 3px;
}

.hinhnen6 {
    padding: 30px 0;
    margin-bottom: 40px;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
    background: #FFF;
    margin-top: 30px;
}

.three h4 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    color: #32323a;
    text-align: left;
}

.two h4 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    color: #32323a;
    text-align: left;
}


.one h4 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    color: #32323a;
    text-align: left;
}

.col-md-6.four {
    padding: 15px;
    border: solid 1px #e7dada;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 2px 7px #0a080a;
    margin-bottom: 25px;
    position: absolute;
    width: 60%;
    margin-right: 20px;
    left: 20%;
}

.col-md-4.three {
    padding: 15px;
    border: solid 1px #e7dada;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 2px 7px #0a080a;
    margin-bottom: 25px;
    
    width: 30%;
    margin-right: 5px;
}

.col-md-4.two {
    padding: 19px;
    border: solid 1px #e7dada;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 2px 7px #0a080a;
    margin-right: 25px;
    margin-bottom: 25px;
    width: 30%;
}


.col-md-4.one {
    width: 33%;
    padding: 19px;
    border: solid 1px #e7dada;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 2px 7px #0a080a;
    margin-right: 25px;
    margin-bottom: 25px;
}

.noidung4 h1 {
    text-align: center;
    margin: auto;
    letter-spacing: 3px;
}

.hinhnen4 {
    padding: 30px 0;
    margin-bottom: 40px;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
    background: #FFF;
    margin-top: 30px;
}

.icon-been {
    color: #9397aa;
    left: 0;
    font-size: 15px;
}

.noidung3 {
    padding: 5px;
    line-height: 25px;
    color: #9397aa;
}

.detail-profile {padding: 10px;border: solid 1px #e7dada;border-radius: 10px;background: white;box-shadow: 1px 2px 7px #0a080a;margin-left: 20px;}

.detail-profile {}

.col-md-3.contact {
    margin: 5px;
}

.col-md-3.contact {
    margin: auto;
}

.col-md-3.contact {
}

body {
    background: #F1F2F7;
}

.hinhnen3 {
    width: 100%;
    background: #F1F2F7;
}

.col-md-6.content {
    padding: 5px;
    margin: auto;
    border: solid 1px #e7dada;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 2px 7px #0a080a;
}

img.img-responsive {
    border-radius: 10px;
}

.khunghinh {
    padding: 10px;
    display: block;
    box-shadow: 2px -1px 9px #0a080a;
    border-radius: 10px;
    width: 90%;
}

.col-md-3.khunghinh {
    box-sizing: border-box;
    width: 25%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    background: #FFF;
    border-radius: 10px;
}

.noidung2 h1 {
    text-align: center;
    margin: auto;
    letter-spacing: 3px;
}

h1 {
    color: #9397aa;
}

.hinhnen2 {
    padding: 30px 0;
    margin-bottom: 40px;
    box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);
    background: #FFF;
}


i.fab.fa-gitkraken {font-size: xx-large;margin: auto;margin-left: 277px;margin-top: 75px;}

.khung {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 10%;
    margin-left: 28%;
    color: white;
}

.bieutuong {
    margin-top: 50px;
}

.noidung1.text-center {
    position: relative;
    z-index: 2;
}

.xam {
    opacity: 0;
    width: 100%;
    background: -webkit-linear-gradient(top,rgba(72,76,97,0)0%,rgba(72,76,97,0.8) 75%);
    position: static;
    height: 100%;
    transition: 0.7s;
}

.xam:hover {
    opacity: 1;
}

.noidung1 h1 {
    color: white;
    margin: auto;
    font-weight: lighter;
    line-height: 10px;
    padding-top: 15%;
    z-index: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hinhnen {
    height: 641px;
    width: auto;
    display: block;
    background: url(images/lt2.jpg);
    background-size: cover;
}

hr {
  margin-top: 12px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #eee;
  width: 60%;
  margin-left: 20%;
}

.mouse-icon {
  width: 30px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  display: block;
  top: 510px;
  margin-left: 280px;
}

.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 4px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: 1.6s ease infinite wheel-up-down; 
}


@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@media (min-width: 1230px) {
  .container {
    width: 1265px;
  }

.container.skills {
    width: 100%;
}
}
