*{margin: 0; padding: 0;}

body {
	font-family: "segoe ui";
}

h1{
	text-align: center;
}

html,body {
	width: 100%;
	height: 100%;
}
li.nav-item{
	display: inline;
	margin: 0 0;
}

a.nav-link{
	line-height: 27px;
	display: inline!important;
}

nav.navbar.navbar-light.bg-faded {
    padding: 0;
    margin: 0;
}

a.navbar-brand {
	display:block;
	width: 100%;
	text-align: center;
}

.khoitren {
	width: 100%;
	height:100%;
	background-color: #0A0C17;
}

.khoitren:before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333333;
    z-index: 1;
}

.avatar {
    z-index: 2;
    position: relative;
    padding-top: 6%;
    color: white;
}

.khoitren img {
    border-radius: 50%;
    width: 30%;
}

h2 {text-transform: uppercase;padding-top: 9px;font-size: 35px;}

p {
    font-size: 16px;
    line-height: 30px;
    margin: auto;
    margin-bottom: 28px;
}

.nuthire.btn-default.btn.btn-primary {
    width: 180px;
    background-color: #fb0202d9;
    border: none;
    border-radius: 20px;
}

.menutop img {
    width: 15%;
    float: left;
}

ul.nav.navbar-nav.navbar-right {
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding-top: 33px;
}

h3.tieude2 {
    text-align: right;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

span.motaqt1 {
    text-align: right;
    margin: auto;
    float: right;
}

.cot1_3 p {
    text-align: right;
    margin: auto;
}

h3.tieude3 {
    margin: auto;
    padding-bottom: 20px;
    padding-top: 3px;
}

img.doc {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 34px;
    height: 910px;
    border: none;
    border-radius: 35%;
}